td.details-control {
    background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_close.png') no-repeat center center;
}

body {
    font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
  }
  
  table.dataTable tr.dtrg-group.dtrg-level-0 td {
      font-weight: bold;
  }
  table.dataTable tr.dtrg-group td {
      background-color: #e0e0e0;
  }
  table.dataTable tr.dtrg-group.dtrg-level-1 td:first-child{
      padding-left: 2em;
  }
  table.dataTable tr.dtrg-group.dtrg-level-1 td{
      background-color: #f0f0f0;
      padding-top: 0.25em;
      padding-bottom: 0.25em;
  }
  table.dataTable tr.dtrg-group.dtrg-level-2 td:first-child {
      padding-left: 3em;
  }
  table.dataTable tr.dtrg-group.dtrg-level-2 td {
      background-color: #fff0f0;
  }
  table.dataTable.compact tbody tr td.order_id {
      padding-left: 4em;
  }

  table tbody tr td{
    cursor: pointer;
  }
  tr.row-disabled{
    background-color:rgba(255, 0, 0, 0.2) !important;
  }
  tr.row-auto-applied{
    background-color:rgba(0, 255, 0, 0.2) !important;
  }